@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-zinc-950;
  }
}

@layer utilities {
  .bg-gradient-text {
    @apply bg-gradient-to-r from-purple-400 to-pink-600 text-transparent bg-clip-text;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.animate-fadeOut {
  animation: fadeOut 2s forwards;
}